version: 1.0.{build}
configuration: Release
platform: Any CPU

init:
- ps: 

environment:
  github_access_token:
    secure: kXK95TSkOJShIcqMV91li5J1hbpfUrN8zVML962Ob4lvm1lA2guZzyk1iwgk/Cud
  
before_build:
    - git checkout master
    - git config --global credential.helper store
    - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"

    
build:
  project: appveyorTest.sln
  verbosity: minimal
  
on_success:
    - git config --global credential.helper store
    - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
    - git add -A *.exe *.txt
    - git status
    - git config --global user.name "bianliu1013"
    - git config --global user.email "bianliu1013@163.com"
    - git commit -a -m "Update azure powershell docs. test" 
    - git push -u origin master -f
    - git add . 
    - git diff --quiet --exit-code --cached || git commit -m "Update Reference Content" && git push -u origin master && echo "Document updated"

    
    
    
 