 version: 1.0.{build}
branches:
  only:
  - master
skip_tags: true
build_cloud: cntk-python-ci-build
image: appveyor-build
configuration: Release
clone_depth: 1
init:
    - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

environment:
  github_access_token:
    secure: kXK95TSkOJShIcqMV91li5J1hbpfUrN8zVML962Ob4lvm1lA2guZzyk1iwgk/Cud
    
  APPVEYOR_RDP_PASSWORD: '#Bugsfor$'
  
clone_script:
    - ps: >-
        if(![System.IO.Directory]::Exists('c:\projects')){
                "will create projects folder"
                mkdir 'c:\projects'
            }

        if([System.IO.Directory]::Exists('c:\projects\cntk')){
                 Remove-Item 'c:\projects\cntk' -Force -Recurse
            }
            
        if([System.IO.Directory]::Exists('c:\projects\cntk_yml_docs')){
             Remove-Item 'c:\projects\cntk_yml_docs' -Force -Recurse
             mkdir 'c:\projects\cntk_yml_docs'
        }

        git config --global core.autocrlf true
        git config core.autocrlf

        cd c:\projects
        git clone --depth 1 http://github.com/Microsoft/cntk

        cd cntk
        git submodule -q update --init -- Source/Multiverso
        
        cd c:\projects
        git clone --depth 1 https://github.com/bianliu1013/cntk_yml_docs
    
before_build:
    - cd c:\projects\cntk\Tools\devInstall\Windows
    - ps: .\DevInstall.ps1 -NoConfirm
    - git checkout master
    - git config --global credential.helper store
    - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
    - ps: Write-Host "appveyor.xml in cntk_yml docs repo"

    
build:
  project: c:\projects\cntk\CNTK.sln
  parallel: true
  verbosity: minimal
  

on_success:
    - cd c:\projects\CNTK\x64\Release\Python
    - pip install cntk-2.0rc1-cp35-cp35m-win_amd64.whl
    - cd c:\projects\cntk\bindings\python\doc
    - call build.bat
    - ps: Write-Host "begin on_success"
    - ps: Copy-Item -Path C:\CNTK\bindings\python\doc\_build -Destination c:\projects\cntk_yml_docs\docs –Recurse
    - git config --global credential.helper store
    - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
    - cd c:\projects\cntk_yml_docs
    - git status
    - git config --global user.name "bianliu1013"
    - git config --global user.email "bianliu1013@163.com"
    - git add . 
    - git commit -a -m "appveyor test" 
    - git push -u origin master -f

on_success:
- cmd:
    - cd c:\projects\CNTK\x64\Release\Python
    - pip install cntk-2.0rc1-cp35-cp35m-win_amd64.whl
    - cd c:\projects\cntk\bindings\python\doc
    - call build.bat
    - ps: Write-Host "begin on_success"
    - ps: Copy-Item -Path C:\CNTK\bindings\python\doc\_build -Destination c:\projects\cntk_yml_docs\docs –Recurse
    - git config --global credential.helper store
    - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
    - cd c:\projects\cntk_yml_docs
    - git status
    - git config --global user.name "bianliu1013"
    - git config --global user.email "bianliu1013@163.com"
    - git add . 
    - git commit -a -m "appveyor test" 
    - git push -u origin master -f
    
    
on_failure:
- cmd:
    - cd c:\projects\CNTK\x64\Release\Python
    - pip install cntk-2.0rc1-cp35-cp35m-win_amd64.whl
    - cd c:\projects\cntk\bindings\python\doc
    - call build.bat
    - ps: Write-Host "begin on_success"
    - ps: Copy-Item -Path C:\CNTK\bindings\python\doc\_build -Destination c:\projects\cntk_yml_docs\docs –Recurse
    - git config --global credential.helper store
    - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
    - cd c:\projects\cntk_yml_docs
    - git status
    - git config --global user.name "bianliu1013"
    - git config --global user.email "bianliu1013@163.com"
    - git add . 
    - git commit -a -m "appveyor test" 
    - git push -u origin master -f
    
on_finish:
- cmd: 
    cd c:\projects\cntk\bindings\python\doc
    call build.bat






